In [94]:
#pip install pandas

In [183]:
#pip install numpy

In [205]:
import pandas as pd 
import numpy as np

In [207]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\melek\anaconda3\lib\site-packages (2.0.1)

In [208]:
yıllara_gore_seragazi_miktari = pd.read_excel("C:\\Users\\melek\\Downloads\\sera gazi emisyonlari (milyon ton co2 esdegeri).xls")

In [209]:
sektorlere_gore_seragazi_miktari = pd.read_excel("C:\\Users\\melek\\Downloads\\sektorlere gore toplam sera gazi emisyonlari (milyon ton co2 esdegeri).xls")

In [210]:
pd.DataFrame(yıllara_gore_seragazi_miktari)

,Yıl\nYear,Toplam\nTotal,CO2,CH4,N2O,F-gazlar\nF-gases
0,1990,228.433396,154.572094,51.257113,22.179528,0.424662
1,1991,235.953849,161.125931,52.341015,21.986631,0.500272
2,1992,242.341247,167.234001,52.191366,22.449048,0.466832
3,1993,249.663009,174.291143,51.754136,23.151535,0.466195
4,1994,243.286625,170.592417,51.328388,20.949170,0.416650
5,1995,257.036676,184.674708,50.777794,21.216527,0.367648
6,1996,276.414894,203.097942,51.123062,21.812370,0.381520
7,1997,287.317801,215.511523,50.048762,21.375394,0.382123
8,1998,288.717426,215.585837,50.229894,22.520047,0.381648
9,1999,286.192931,211.238081,51.786532,22.786785,0.381533
10,2000,306.970992,232.933969,51.531901,22.018596,0.486525
11,2001,288.133786,216.872489,50.583518,20.084182,0.593596
12,2002,293.060492,224.319769,47.896567,20.076601,0.767555
13,2003,312.753677,239.848552,50.607624,21.332267,0.965235
14,2004,322.350103,247.843043,51.227696,22.052292,1.227072
15,2005,345.502175,267.710686,53.277560,23.093217,1.420711
16,2006,366.029471,285.429426,54.747100,24.237666,1.615279
17,2007,399.910870,316.497415,57.645138,23.807831,1.960485
18,2008,395.877281,312.628217,58.541712,22.604253,2.103099
19,2009,402.373269,318.567938,58.057360,23.625632,2.122339
20,2010,406.424426,318.710341,60.063980,24.446075,3.204030
21,2011,436.023251,344.214798,62.857555,25.414565,3.536334
22,2012,456.366874,358.644620,67.136181,26.380648,4.205426
23,2013,448.747508,350.633578,65.777019,27.991713,4.345198
24,2014,468.000473,367.271624,67.744108,28.217572,4.767170
25,2015,481.457787,387.703922,60.541909,28.621615,4.590341
26,2016,504.993973,405.552240,64.090433,30.542512,4.808788
27,2017,532.379759,430.621670,65.257570,31.522016,4.978502
28,2018,529.736077,423.818292,69.571364,31.552407,4.794014
29,2019,517.850211,406.567763,72.960048,32.899175,5.423225
30,2020,532.133784,416.328049,73.498377,36.114923,6.192434
31,2021,574.120550,457.377292,73.919631,35.924089,6.899538
32,2022,560.200971,443.602703,71.910757,34.287371,10.400140
33,2023,598.917090,486.944575,66.586243,35.473630,9.912642

In [211]:
pd.DataFrame(sektorlere_gore_seragazi_miktari)

,Yıl\nYear,Toplam\nTotal,1990 yılına göre değişim (%)\nChange compared to \n1990 (%),Enerji\nEnergy,Endüstriyel işlemler ve ürün kullanımı\nIndustrial processes and product use,Tarım\nAgriculture,Atık\nWaste
0,1990,228.433396,-,143.177601,23.092077,51.847831,10.315887
1,1991,235.953849,3.292186,147.547696,24.890180,52.862176,10.653798
2,1992,242.341247,6.088361,154.018727,24.643606,52.695598,10.983315
3,1993,249.663009,9.293568,160.426675,25.142729,52.767366,11.326240
4,1994,243.286625,6.502214,156.751432,24.506028,50.345918,11.683247
5,1995,257.036676,12.521496,169.978405,25.913632,49.030329,12.114311
6,1996,276.414894,21.00459,187.779318,26.569175,49.545348,12.521054
7,1997,287.317801,25.777494,199.930808,27.431142,46.817195,13.138655
8,1998,288.717426,26.3902,199.712788,27.750336,47.746648,13.507655
9,1999,286.192931,25.285066,197.781662,26.201465,48.169381,14.040422
10,2000,306.970992,34.38096,219.764033,26.636926,46.032869,14.537165
11,2001,288.133786,26.134703,203.102090,26.284117,43.690935,15.056644
12,2002,293.060492,28.291439,209.555730,27.255066,40.708512,15.541185
13,2003,312.753677,36.912414,223.921019,28.616387,44.242848,15.973423
14,2004,322.350103,41.113387,229.673536,31.219334,44.951295,16.505938
15,2005,345.502175,51.248539,247.651287,34.693405,46.265906,16.891577
16,2006,366.029471,60.234658,263.861400,37.214360,47.567222,17.386488
17,2007,399.910870,75.066727,294.926856,40.178031,47.150900,17.655083
18,2008,395.877281,73.300965,291.045677,42.268556,44.775624,17.787424
19,2009,402.373269,76.144677,295.671908,43.757024,45.121031,17.823306
20,2010,406.424426,77.918129,290.943034,49.725439,47.678410,18.077543
21,2011,436.023251,90.87544,312.670345,54.650326,50.268331,18.434249
22,2012,456.366874,99.781153,324.943616,56.883256,56.257797,18.282206
23,2013,448.747508,96.445666,312.065120,60.038041,59.359784,17.284562
24,2014,468.000473,104.873929,330.646741,60.758231,59.497894,17.097607
25,2015,481.457787,110.765061,344.255380,60.272669,59.207551,17.722188
26,2016,504.993973,121.068364,362.036247,63.942785,61.689930,17.325011
27,2017,532.379759,133.056885,381.995615,67.181720,66.329441,16.872983
28,2018,529.736077,131.899576,374.984043,68.560744,68.910049,17.281240
29,2019,517.850211,126.696367,369.290460,60.270058,71.516938,16.772755
30,2020,532.133784,132.949207,369.776298,68.936929,76.436942,16.983615
31,2021,574.120550,151.329516,406.769699,76.542722,75.376388,15.431742
32,2022,560.200971,145.23602,400.739692,71.934925,71.511550,16.014804
33,2023,598.917090,162.184558,442.170298,70.928133,71.751283,14.067375

In [241]:
yıllara_gore_seragazi_miktari.columns = ['Yıl', 'Toplam', 'CO2', 'CH4', 'N2O', 'F_gazlar']

In [243]:
yıllara_gore_seragazi_miktari

     Yıl      Toplam         CO2        CH4        N2O   F_gazlar
0   1990  228.433396  154.572094  51.257113  22.179528   0.424662
1   1991  235.953849  161.125931  52.341015  21.986631   0.500272
2   1992  242.341247  167.234001  52.191366  22.449048   0.466832
3   1993  249.663009  174.291143  51.754136  23.151535   0.466195
4   1994  243.286625  170.592417  51.328388  20.949170   0.416650
5   1995  257.036676  184.674708  50.777794  21.216527   0.367648
6   1996  276.414894  203.097942  51.123062  21.812370   0.381520
7   1997  287.317801  215.511523  50.048762  21.375394   0.382123
8   1998  288.717426  215.585837  50.229894  22.520047   0.381648
9   1999  286.192931  211.238081  51.786532  22.786785   0.381533
10  2000  306.970992  232.933969  51.531901  22.018596   0.486525
11  2001  288.133786  216.872489  50.583518  20.084182   0.593596
12  2002  293.060492  224.319769  47.896567  20.076601   0.767555
13  2003  312.753677  239.848552  50.607624  21.332267   0.965235
14  2004  322.350103  247.843043  51.227696  22.052292   1.227072
15  2005  345.502175  267.710686  53.277560  23.093217   1.420711
16  2006  366.029471  285.429426  54.747100  24.237666   1.615279
17  2007  399.910870  316.497415  57.645138  23.807831   1.960485
18  2008  395.877281  312.628217  58.541712  22.604253   2.103099
19  2009  402.373269  318.567938  58.057360  23.625632   2.122339
20  2010  406.424426  318.710341  60.063980  24.446075   3.204030
21  2011  436.023251  344.214798  62.857555  25.414565   3.536334
22  2012  456.366874  358.644620  67.136181  26.380648   4.205426
23  2013  448.747508  350.633578  65.777019  27.991713   4.345198
24  2014  468.000473  367.271624  67.744108  28.217572   4.767170
25  2015  481.457787  387.703922  60.541909  28.621615   4.590341
26  2016  504.993973  405.552240  64.090433  30.542512   4.808788
27  2017  532.379759  430.621670  65.257570  31.522016   4.978502
28  2018  529.736077  423.818292  69.571364  31.552407   4.794014
29  2019  517.850211  406.567763  72.960048  32.899175   5.423225
30  2020  532.133784  416.328049  73.498377  36.114923   6.192434
31  2021  574.120550  457.377292  73.919631  35.924089   6.899538
32  2022  560.200971  443.602703  71.910757  34.287371  10.400140
33  2023  598.917090  486.944575  66.586243  35.473630   9.912642

In [249]:
sektorlere_gore_seragazi_miktari.columns=['Yıl','Toplam','1990 yılına göre değişim (%)','Enerji','Endüstriyel işlemler ve ürün kullanımı','Tarım','Atık']

In [251]:
sektorlere_gore_seragazi_miktari

,Yıl,Toplam,1990 yılına göre değişim (%),Enerji,Endüstriyel işlemler ve ürün kullanımı,Tarım,Atık
0,1990,228.433396,-,143.177601,23.092077,51.847831,10.315887
1,1991,235.953849,3.292186,147.547696,24.890180,52.862176,10.653798
2,1992,242.341247,6.088361,154.018727,24.643606,52.695598,10.983315
3,1993,249.663009,9.293568,160.426675,25.142729,52.767366,11.326240
4,1994,243.286625,6.502214,156.751432,24.506028,50.345918,11.683247
5,1995,257.036676,12.521496,169.978405,25.913632,49.030329,12.114311
6,1996,276.414894,21.00459,187.779318,26.569175,49.545348,12.521054
7,1997,287.317801,25.777494,199.930808,27.431142,46.817195,13.138655
8,1998,288.717426,26.3902,199.712788,27.750336,47.746648,13.507655
9,1999,286.192931,25.285066,197.781662,26.201465,48.169381,14.040422
10,2000,306.970992,34.38096,219.764033,26.636926,46.032869,14.537165
11,2001,288.133786,26.134703,203.102090,26.284117,43.690935,15.056644
12,2002,293.060492,28.291439,209.555730,27.255066,40.708512,15.541185
13,2003,312.753677,36.912414,223.921019,28.616387,44.242848,15.973423
14,2004,322.350103,41.113387,229.673536,31.219334,44.951295,16.505938
15,2005,345.502175,51.248539,247.651287,34.693405,46.265906,16.891577
16,2006,366.029471,60.234658,263.861400,37.214360,47.567222,17.386488
17,2007,399.910870,75.066727,294.926856,40.178031,47.150900,17.655083
18,2008,395.877281,73.300965,291.045677,42.268556,44.775624,17.787424
19,2009,402.373269,76.144677,295.671908,43.757024,45.121031,17.823306
20,2010,406.424426,77.918129,290.943034,49.725439,47.678410,18.077543
21,2011,436.023251,90.87544,312.670345,54.650326,50.268331,18.434249
22,2012,456.366874,99.781153,324.943616,56.883256,56.257797,18.282206
23,2013,448.747508,96.445666,312.065120,60.038041,59.359784,17.284562
24,2014,468.000473,104.873929,330.646741,60.758231,59.497894,17.097607
25,2015,481.457787,110.765061,344.255380,60.272669,59.207551,17.722188
26,2016,504.993973,121.068364,362.036247,63.942785,61.689930,17.325011
27,2017,532.379759,133.056885,381.995615,67.181720,66.329441,16.872983
28,2018,529.736077,131.899576,374.984043,68.560744,68.910049,17.281240
29,2019,517.850211,126.696367,369.290460,60.270058,71.516938,16.772755
30,2020,532.133784,132.949207,369.776298,68.936929,76.436942,16.983615
31,2021,574.120550,151.329516,406.769699,76.542722,75.376388,15.431742
32,2022,560.200971,145.23602,400.739692,71.934925,71.511550,16.014804
33,2023,598.917090,162.184558,442.170298,70.928133,71.751283,14.067375

In [212]:
yıllara_gore_seragazi_miktari.head(5)

,Yıl\nYear,Toplam\nTotal,CO2,CH4,N2O,F-gazlar\nF-gases
0,1990,228.433396,154.572094,51.257113,22.179528,0.424662
1,1991,235.953849,161.125931,52.341015,21.986631,0.500272
2,1992,242.341247,167.234001,52.191366,22.449048,0.466832
3,1993,249.663009,174.291143,51.754136,23.151535,0.466195
4,1994,243.286625,170.592417,51.328388,20.949170,0.416650

In [219]:
yıllara_gore_seragazi_miktari.tail(5)

,Yıl\nYear,Toplam\nTotal,CO2,CH4,N2O,F-gazlar\nF-gases
29,2019,517.850211,406.567763,72.960048,32.899175,5.423225
30,2020,532.133784,416.328049,73.498377,36.114923,6.192434
31,2021,574.120550,457.377292,73.919631,35.924089,6.899538
32,2022,560.200971,443.602703,71.910757,34.287371,10.400140
33,2023,598.917090,486.944575,66.586243,35.473630,9.912642

In [221]:
sektorlere_gore_seragazi_miktari.head(5)

,Yıl\nYear,Toplam\nTotal,1990 yılına göre değişim (%)\nChange compared to \n1990 (%),Enerji\nEnergy,Endüstriyel işlemler ve ürün kullanımı\nIndustrial processes and product use,Tarım\nAgriculture,Atık\nWaste
0,1990,228.433396,-,143.177601,23.092077,51.847831,10.315887
1,1991,235.953849,3.292186,147.547696,24.890180,52.862176,10.653798
2,1992,242.341247,6.088361,154.018727,24.643606,52.695598,10.983315
3,1993,249.663009,9.293568,160.426675,25.142729,52.767366,11.326240
4,1994,243.286625,6.502214,156.751432,24.506028,50.345918,11.683247

In [223]:
sektorlere_gore_seragazi_miktari.tail(5)

,Yıl\nYear,Toplam\nTotal,1990 yılına göre değişim (%)\nChange compared to \n1990 (%),Enerji\nEnergy,Endüstriyel işlemler ve ürün kullanımı\nIndustrial processes and product use,Tarım\nAgriculture,Atık\nWaste
29,2019,517.850211,126.696367,369.290460,60.270058,71.516938,16.772755
30,2020,532.133784,132.949207,369.776298,68.936929,76.436942,16.983615
31,2021,574.120550,151.329516,406.769699,76.542722,75.376388,15.431742
32,2022,560.200971,145.23602,400.739692,71.934925,71.511550,16.014804
33,2023,598.917090,162.184558,442.170298,70.928133,71.751283,14.067375

In [225]:
yıllara_gore_seragazi_miktari.axes

[RangeIndex(start=0, stop=34, step=1),
 Index(['Yıl\nYear', 'Toplam\nTotal', 'CO2', 'CH4', 'N2O', 'F-gazlar\nF-gases'], dtype='object')]

In [253]:
sektorlere_gore_seragazi_miktari.axes

[RangeIndex(start=0, stop=34, step=1),
 Index(['Yıl', 'Toplam', '1990 yılına göre değişim (%)', 'Enerji',
        'Endüstriyel işlemler ve ürün kullanımı', 'Tarım', 'Atık'],
       dtype='object')]

In [255]:
print(yıllara_gore_seragazi_miktari.isnull().sum())

Yıl         0
Toplam      0
CO2         0
CH4         0
N2O         0
F_gazlar    0
dtype: int64

In [257]:
print(sektorlere_gore_seragazi_miktari.isnull().sum())

Yıl                                       0
Toplam                                    0
1990 yılına göre değişim (%)              0
Enerji                                    0
Endüstriyel işlemler ve ürün kullanımı    0
Tarım                                     0
Atık                                      0
dtype: int64

In [259]:
print(yıllara_gore_seragazi_miktari.dtypes)

Yıl           int64
Toplam      float64
CO2         float64
CH4         float64
N2O         float64
F_gazlar    float64
dtype: object

In [261]:
print(sektorlere_gore_seragazi_miktari.dtypes)

Yıl                                         int64
Toplam                                    float64
1990 yılına göre değişim (%)               object
Enerji                                    float64
Endüstriyel işlemler ve ürün kullanımı    float64
Tarım                                     float64
Atık                                      float64
dtype: object